<div class="about-section" id="aboutId">
    <div class="container">
        <div class="row">
            <div class="col">
                <img
                    src="assets/images/headmaster.jpg"
                    alt="head master"
                    class="header-master"
                />
            </div>
            <div class="col">
                <div class="headmaster-speach">
                    <div class="speach-container">
                        <div class="speach-content">
                            <q>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Harum quia eius dicta
                                necessitatibus incidunt molestias at quasi
                                distinctio maxime, quas consequatur magnam odit
                                quidem, vel, placeat iusto temporibus ipsam
                                voluptatum!
                            </q>
                        </div>
                    </div>
                    <div class="footer">
                        <p class="name">John Doe</p>
                        <p class="role">Head Master</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
